.Navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 20px;
}
.header-area {
    position: relative;
    color: #332b25;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 0;
  }

  .logo{
    width: 12.7vw;
  }
  .header-area .links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    text-align: right;
    font-size: 12px;
  }
  .header-area .links a {
    color: #332b25;
    text-decoration: none;
    transition: all 0.5s, color 0s;
    padding: 0 16px;
    font-weight: 600;
    border-radius: 100px;
  }
  .header-area .links a:hover,
  .header-area .links a.active {
    color: white;
    background-color: #332b25;
  }
  .header-area .links li {
    display: inline-block;
    margin-left: 10px;
  }

  .endNav {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .cartIco {
    width: 30px;
  }
  .loginBtn {
    color: #332b25;
    padding: 17px 42.5px;
    background-color: #ffdde1;
    border-radius: 40px;
    font-weight: 600;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
  }
  .Hamburger {
    display: none;
  }
  
/* <---------- Media Query ----------> */
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .logo{
    width: 38.5vw;
  }
  .header-area .links {
    display: none;
  }
  .endNav {
    display: none;
  }
  .Hamburger{
    display: block;
    cursor: pointer;
  }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 601px) and (max-width: 767px) {
    .logo{
      width: 30vw;
    }
    .header-area .links {
      display: none;
    }
    .endNav {
      display: none;
    }
    .Hamburger{
      display: block;
      cursor: pointer;
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .logo{
      width: 30vw;
    }
    .header-area {
      padding: 5vh 4vw;
    }
    .header-area .links {
      display: none;
    }
    .endNav {
      display: none;
    }
    .Hamburger{
      display: block;
      cursor: pointer;
    }
  }