.AboutApapika {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.Rectangle-4 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    flex-grow: 0;
    padding: 0 0 0 0;
    background-color: #fff5ec;
    z-index: -1000;
  }
  .triangle-About{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 100vh solid #ffdde1;
    border-right: 98.5vw solid transparent;
  }

.Screen-5-text {
    position: absolute;
    top: 13vh;
    display: flex;
    width: 31.5vw;
    flex-direction: column;
    gap: 10vh;
}

.Screen-5-text p {
    line-height: 1.67;
    font-family: Poppins;
    font-size: 1.25vw;
}

.Screen-5-text h1::before{
    height: 180% !important;
}
.aboutImg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 52.2vw;
}
.pattern6 {
    position: absolute;
    width: 40vw;
    height: 90vh;
    top: 50%;
    transform: translateY(-50%);
    right: 5.5vw;
}


/* <---------- Media Query ----------> */
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .Screen-5-text {
        top: 10vh;
        display: flex;
        width: 90vw;
        gap: 78vw;
    }
    .Screen-5-text p {
        font-size: 1.8vh;
    }
    .Screen-5-text h1 {
        font-size: 30px;
    }

    .aboutImg {
        right: 10vw;
        top: 37vh;
        width: 80vw;
        transform: translateY(-16vh);
    }
    .pattern6 {
        display: none;
    }
}
  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
    .Screen-5-text {
        top: 10vh;
        display: flex;
        width: 90vw;
        gap: 60vw;
    }
    .Screen-5-text p {
        font-size: 1.8vh;
    }
    .Screen-5-text h1 {
        font-size: 30px;
    }

    .aboutImg {
        right: 20vw;
        top: 38vh;
        width: 60vw;
        transform: translateY(-16vh);
    }
    .pattern6 {
        display: none;
    }
}
  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .Screen-5-text {
        top: 10vh;
        display: flex;
        width: 90vw;
        gap: 60vw;
    }
    .Screen-5-text p {
        font-size: 1.8vh;
    }
    .Screen-5-text h1 {
        font-size: 30px;
    }

    .aboutImg {
        right: 20vw;
        top: 38vh;
        width: 60vw;
        transform: translateY(-16vh);
    }
    .pattern6 {
        display: none;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .Screen-5-text p {
        font-size: 1.85vw;
        }
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .Screen-5-text p {
    font-size: 1.25vw;
    }
}
