@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300;400;500;600;700;800&display=swap');

:root {
  --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
  --scroll-width: 0.5vw;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  outline: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
h1 {
  width: 37vw;
  color: #332b25;
  font-family: Roboto;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  margin-left: 3vw;
  text-transform: capitalize;
  position: relative;
  font-size: 2.1em;
  z-index: 1000;
}
h1::before {
  content: '';
  position: absolute;
  height: 115%;
  width: 2.6vh;
  background-color: #332b25;
  left: -3vw;
  top: 50%;
  transform: translateY(-50%);
}
.container {
  padding-left: 7vw;
  padding-right: 7vw;
  margin: auto;
}
.triangle-2{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 48vw solid #ffdde1;
  border-right: 98.5vw solid transparent;
}






/* <---------- Media Query ----------> */
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  .container {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  h1 {
    width: 70vw;
    margin-left: 8vw;
    font-size: 1.2em;
  }
  h1::before {
    height: 115%;
    width: 2.6vh;
    left: -8vw;
    top: 50%;
    transform: translateY(-50%);
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  .container {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  h1 {
    width: 50vw;
    margin-left: 3vw;
    font-size: 1.3em;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  h1 {
    width: 40vw;
    margin-left: 3vw;
    font-size: 1.4em;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
